<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>文章内容</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/cropper.css" media="all">
</head>

<body>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" lay-filter="content-form" id="content-form" style="padding: 20px 30px 0 0;">
        <div class="layui-form-item">
          <label class="layui-form-label">文章标题</label>
          <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off"
                   class="layui-input" maxlength="60">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">文章封面</label>
          <div class="layui-input-block c-img-load">
            <input type="text" name="imgurl" required lay-verify="url" id="inputimgurl" placeholder="图片地址"
                   class="layui-input">
            <button type="button" class="layui-btn layui-btn-primary" id="editimg">修改图片</button>
            <div class="layui-word-aux">封面尺寸限定750x500px,大小在5MB以内</div>
          </div>
          <div class="layui-input-block c-img-load-show">
            <img id="srcimgurl" style="max-width: 400px;" class="layui-upload-img">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">内容</label>
          <div class="layui-input-block">
            <div id="div3"></div>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">类型</label>
          <div id="checkbox-box" class="layui-input-block"></div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">发布状态</label>
          <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="审核通过" checked>
            <input type="radio" name="status" value="0" title="待审核">
            <input type="radio" name="status" value="2" title="草稿">
            <input type="radio" name="status" value="3" title="停用">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;z-index: 11111;">
              <button type="button" class="layui-btn" lay-submit="" lay-filter="submit-form">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../../layuiadmin/plugin/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../../layuiadmin/plugin/wangEditor.js"></script>
<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'croppers', 'localMethods', 'tableSelect'], function () {
    var $ = layui.$,
      form = layui.form,
      croppers = layui.croppers,
      admin = layui.admin,
      setter = layui.setter,
      layer = layui.layer
      lFuns = layui.localMethods;

    var id = lFuns.getUrlParam("id");

    admin.req({
      url: setter.apiurl + "/ArticleType/get_all",
      type: "post",
      dataType: "json",
      done: function (res) {
        if (res.status == 1) {
          var _data = res.data;
          var str = "";
          $(_data).each(function (index, elem) {
            str += '<input type="radio" name="type" title="' + elem.name + '" value="' + elem.id + '">';
          })
          $("#checkbox-box").html(str);
          form.render();
          if (id) {
            eidtSetVal();
          } else {
            pluginRender();
          }
        } else {
          layui.layer.msg(res.msg)
        }
      }
    })

    //编辑设值
    function eidtSetVal() {
      admin.req({
        url: setter.apiurl + "/Article/get_one",
        type: "post",
        dataType: "json",
        data: {
          id: id
        },
        done: function (res) {
          if (res.status == 1) {
            var newData = res.data;
            $("#srcimgurl").attr("src", newData.imgurl);
            form.val("content-form", {
              title: newData.title,
              imgurl: newData.imgurl,
              meid: newData.nickname,
              status: newData.status,
              selected: newData.selected,
            });

            //附上id
            $("input[name=meid]").attr("ts-selected", newData.meid);
            var typeArr = newData.type;
            $(typeArr).each(function (index, item) {
              $("input[type=radio]").each(function (ci, citem) {
                if (item.id == citem.value) {
                  citem.checked = true;
                }
              })
            })
            form.render();
            pluginRender(newData.content);
          } else {
            layui.layer.msg(res.msg)
          }
        }
      })
    }


    function pluginRender(_content) {
      //创建一个头像上传组件
      croppers.render({
        elem: '#editimg'
        , saveW: 750     //保存宽度
        , saveH: 500
        , mark: 3 / 2    //选取比例
        , area: '900px'  //弹窗宽度
        , url: setter.apiurl + '/Auth/send_img'  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
        , done: function (url) { //上传完毕回调
          var links = url;
          $("#inputimgurl").val(links);
          $("#srcimgurl").attr('src', links);
        }
      });
      var E = window.wangEditor;
      var editor = new E('#div3');
      // 配置服务器端地址
      editor.customConfig.uploadImgServer = setter.apiurl + '/Auth/send_img';
      // 将图片大小限制为 10M
      editor.customConfig.uploadImgMaxSize = 10 * 1024 * 1024;
      // 限制一次最多上传 1 张图片
      editor.customConfig.uploadImgMaxLength = 5;
      editor.customConfig.uploadFileName = 'image';
      editor.customConfig.uploadImgParams = {
        token: layui.data('userInfo').token
      };
      //插入图片
      editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
          // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
          // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
          // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
          var url = result.data;
          insertImg(url);
        }
      };
      editor.create();
      if (_content) {
        editor.txt.html(_content);
      }

      //提交
      form.on("submit(submit-form)", function (_data) {
        var data = _data.field;
        var content = editor.txt.html();//内容

        var checkboxArr = '';
        $("input[name=type]:checked").each(function (index, item) {
          checkboxArr = item.value;
        });
        //内容
        if (!content) {
          layer.msg("文章内容不能为空", {icon: 2});
          return false;
        } else {
          data.content = content;
          //摘要
          var abstract = editor.txt.text();

          data.abstract = abstract;
        }
        //图片
        var src = $("#srcimgurl").attr("src");
        if (!src) {
          layer.msg("文章封面不能为空,请选择图片", {icon: 2});
          return false;
        }
        //类型
        if (checkboxArr.length < 1) {
          layer.msg("请至少选择一个类型", {icon: 2});
          return false;
        } else {
          data.tid = checkboxArr;
        }
        //编辑
        if (id) {
          data.id = id;
        }
        admin.req({
          url: setter.apiurl + "/Article/add_update",
          type: "post",
          data: data,
          dataType: "json",
          done: function (res) {
            layui.layer.msg(res.msg)
            if (res.status == 1) {
              setTimeout(function () {
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);
                parent.location.reload();
              }, 1000)
            }
          }
        })
      })
    }

  })
</script>
</body>

</html>