<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>表详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	</head>

	<body>
		<div class="layui-card-body">
			<table id="table-details" lay-filter="table-details"></table>
		</div>
		
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'table', 'localMethods'], function() {
				var $ = layui.$,
					admin = layui.admin,
					table = layui.table,
					setter = layui.setter,
					lFuns = layui.localMethods;

				var name = lFuns.getUrlParam("name");

				table.render({
					elem: '#table-details',
					url: layui.setter.apiurl + '/Mysql/get_table_field', //模拟接口
					method: 'post',
					where: {
						token: layui.data('userInfo').token,
						table: name
					},
					toolbar: true,
					cols: [
							[{
								field: 'Field',
								title: '字段名称',
							}, {
								field: 'Type',
								title: '字段类型'
							}, {
								field: 'Null',
								title: '是否空值',
								sort: true,
							}, {
								field: 'Key',
								title: '索引类型',
								templet: '<div>{{d.Key?d.Key:"暂无"}}</div>'
							}, {
								field: 'Comment',
								title: '注释',
								templet: '<div>{{d.Comment?d.Comment:"暂无"}}</div>'
							}, {
								field: 'Default',
								title: '默认值',
								templet: '<div>{{d.Default?d.Default:"暂无"}}</div>'
							}]
						],
				});
			})
		</script>
	</body>

</html>